body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

footer {
    position: fixed;
    width: 95%;
    bottom: 0.5rem;
}

#search-input-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

vscode-text-field#search {
    width: 100%;
}

th {
    border-bottom: 2px solid whitesmoke;
}
